<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>SEVP</display-name>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- Tempo de sessão -->
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<!-- desliga o cache, útil quando está em fase de desenvolvimento -->
	<!-- <context-param> <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name> 
		<param-value>0</param-value> cache desligado </context-param> -->

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Listener e Filters -->
	<listener>
		<listener-class>br.com.sevp.controller.bean.MySessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>SessionTimeoutFilter</filter-name>
		<filter-class>br.com.sevp.controller.bean.SessionTimeoutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionTimeoutFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<!-- Direcionamento de página em caso de erros -->
	<error-page>
		<error-code>404</error-code>
		<location>/errorPages/page-404.xhtml?faces-redirect=true</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorPages/page-500.xhtml?faces-redirect=true</location>
	</error-page>
	<!-- <error-page> <exception-type>javax.faces.application.ViewExpiredException</exception-type> 
		<location>/errorPages/expiredSession.xhtml?faces-redirect=true</location> 
		</error-page> -->
</web-app>