<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>SEVP</display-name>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value> <!-- cache desligado -->
	</context-param>


	<!-- <session-config> <session-timeout>30</session-timeout> </session-config> -->

	<!-- Server side automatically handled errors -->
	<!-- <error-page> -->
	<!-- <error-code>403</error-code> -->
	<!-- <location>/errorPages/error403.xhtml</location> -->
	<!-- </error-page> -->
	<error-page>
		<error-code>404</error-code>
		<location>/errorPages/page-404.xhtml?faces-redirect=true</location>
	</error-page>
	<!-- <error-page> -->
	<!-- <error-code>503</error-code> -->
	<!-- <location>/errorPages/error503.xhtml</location> -->
	<!-- </error-page> -->
	<error-page>
		<error-code>500</error-code>
		<location>/errorPages/page-500.xhtml?faces-redirect=true</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/errorPages/expiredSession.xhtml?faces-redirect=true</location>
	</error-page>
</web-app>